html{
  background-image: url('../img/fondo-horizontal.jpg');
  background-repeat: repeat-y;
  background-size: contain;
  height: 100%;
}

body{
  height: 89%;
}

.masterHead {
   background: linear-gradient(-90deg, #003F58, #0089CB);
}

.headerCenter {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 152px;
  width: auto;
}

.title {
  color: #fff;
  font-size: 13px;
  margin-top: 12px;
}

.regular {
    font-weight: normal;
    font-style: normal;
}

#logoChaco {
  height: 30px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#logoSGT {
  display: none;
}

.title-card {
  font-size: 13px;
}

.title-description {
  font-size: 12px;
}

#contenidoNumero {
  display: none;
}

#contenidoIdentificacion {
  display: none;
}

#contenidoDni {
  display: none;
}

th {
  font-size: 14px;
  background-color: #003F58 !important;
}

td{
  font-size: 10px;
}

.title-table {
    color: #003F58;
}

.table-phone {
  display: none;
}

.btn-consul {
  margin-top: 10px;
}

#foot {
  width: 100%;
  background: linear-gradient(-90deg, #0089CB, #003F58);
}

.logos img {
  height: 40px;
  width: auto;
  margin: 10px;
}
/* Con este código se visualiza el footer abajo */
.content{
  min-height: 80%;
}

@media only screen and (min-width: 576px) {
  #logoChaco {
    height: 70px;
  }

  .title{
    font-size: 26px;
    margin-top: 25px;
  }

  .title-card {
    font-size: 25px;
  }

  .title-description {
    font-size: 17px;
  }

  th{
    font-size: 22px;
  }

  td {
    font-size: 18px;
  }

  .btn-consul {
    margin-top: 0px;
  }

  .logos img{
    height: 60px;
  }

  .content {
    min-height: 92%;
  }
}

@media only screen and (min-width: 960px) {
  .table-phone {
    display: grid;
  }

  th {
    font-size: 15px;
  }

  td {
    font-size: 14px;
  }

  #logoSGT {
    display: block;
    height: 70px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .content {
    min-height: 92%;
  }
}
