.masterHead {
   background: linear-gradient(-90deg, #003F58, #0089CB);
}

.headerCenter {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 152px;
  width: auto;
}

.tittle {
  color: #fff;
  margin-top: 40px;
}

.regular {
    font-weight: normal;
    font-style: normal;
}

#logoChaco {
  height: 100px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
